/* Imports */
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.has-error small{color:red;font-weight:normal;margin-left:5px;}
#jumbotron-index{margin-top:100px;background:#666;color:#eee;}

 body {margin:0;}

#cabecera {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    }

li {
    float: left;
        }

#cabecera li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

#cabecera  li a:hover:not(.active) {
    background-color: #111;
            }

.active {
    background-color: transparent;
                }
